services:
  db:
    image: mariadb:10.6
    container_name: techchallenge-db
    restart: always
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
    ports:
      - "3366:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./mariadb/conf/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./mariadb/init/init.sql:/docker-entrypoint-initdb.d/init.sql

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${MARIADB_USER}", "-p${MARIADB_PASSWORD}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    networks:
      - techchallenge-network

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile-service-auth
    container_name: app-service-auth
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      # Database Configuration
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/${MARIADB_DATABASE}?useSSL=false
      SPRING_DATASOURCE_USERNAME: ${MARIADB_USER}
      SPRING_DATASOURCE_PASSWORD: ${MARIADB_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MariaDBDialect
      # JWT Configuration
      JWT_SECURITY_SECRET: ${JWT_SECRET:-404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
      # Server Configuration
      SERVER_PORT: 8081
    networks:
      - techchallenge-network

  kong-database:
    image: postgres:13
    container_name: kong-database
    restart: always
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    ports:
      - "5432:5432"
    volumes:
      - kong-db-data:/var/lib/postgresql/data
    networks:
      - techchallenge-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 10s
      timeout: 5s
      retries: 5

  kong-migration:
    image: kong:3.4
    container_name: kong-migration
    command: sh -c "kong migrations bootstrap && kong migrations up && kong migrations finish"
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
    depends_on:
      kong-database:
        condition: service_healthy
    networks:
      - techchallenge-network

  kong:
    image: kong:3.4
    container_name: kong
    restart: always
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_LISTEN: 0.0.0.0:8000
    ports:
      - "8080:8000"  # Proxy do Kong
      - "8000:8001"  # Admin API do Kong
    depends_on:
      kong-database:
        condition: service_healthy
      kong-migration:
        condition: service_completed_successfully
    networks:
      - techchallenge-network
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5

  konga-prepare:
    image: pantsel/konga:latest
    container_name: konga-prepare
    command: -c prepare -a mysql -u mysql://${MARIADB_USER}:${MARIADB_PASSWORD}@db:3306/konga
    environment:
      NODE_ENV: production
    depends_on:
      db:
        condition: service_healthy
    networks:
      - techchallenge-network
    restart: on-failure

  konga:
    image: pantsel/konga:latest
    container_name: konga
    restart: always
    environment:
      NODE_ENV: production
      DB_ADAPTER: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: ${MARIADB_USER}
      DB_PASSWORD: ${MARIADB_PASSWORD}
      DB_DATABASE: konga
    ports:
      - "1337:1337"
    depends_on:
      db:
        condition: service_healthy
      kong:
        condition: service_healthy
      konga-prepare:
        condition: service_completed_successfully
    networks:
      - techchallenge-network

networks:
  techchallenge-network:
    driver: bridge

volumes:
  mariadb_data:
  kong-db-data:
