_format_version: "3.0"

services:
  # Serviço de Autenticação
  - name: auth-service
    url: http://app-service-auth:8081
    routes:
      - name: auth-login
        paths:
          - /auth/login
        methods:
          - POST
        strip_path: false
      - name: auth-register
        paths:
          - /auth/register
        methods:
          - POST
        strip_path: false

  # Serviço de Agendamento
  - name: agendamento-service
    url: http://app-service-agendamento:8082
    routes:
      - name: agendamento-routes
        paths:
          - /consulta
        strip_path: false
    plugins:
      - name: jwt
        config:
          header_names:
            - Authorization
          claims_to_verify:
            - exp
          key_claim_name: iss
          secret_is_base64: false
          run_on_preflight: true

consumers:
  - username: jwt-consumer
    jwt_secrets:
      - key: auth-api
        algorithm: HS256
        secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

